{% extends "::base.html.twig" %}

{% block title %}Admin Overview{% endblock %}

{% block body %}
<h1>Admin Overview</h1>
<p class="lead">Welcome to the Admin Interface</p>
<p>Choose a link in the navigation to change something in the backend.</p>
{% endblock %}
