{% extends "::base.html.twig" %}

{% block title %}AppBundle:ProductStock:ProductStockNew{% endblock %}

{% block body %}
<h1>Welcome to the ProductStock:ProductStockNew page</h1>
{{ form(form) }}
{% endblock %}
