{% extends "::base.html.twig" %}

{% block title %}AppBundle:ProductStock:ProductStockEdit{% endblock %}

{% block body %}
<h1>Welcome to the ProductStock:ProductStockEdit page</h1>
{{ form(form) }}
{% endblock %}
