{% extends "::base.html.twig" %}

{% block title %}AppBundle:Category:CategoryEditNew{% endblock %}

{% block body %}
<h1>Welcome to the Category:CategoryEditNew page</h1>
{{ form(form) }}
{% endblock %}
